body{
    height: 500vh;
}

#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #eee;
  }
  
  #progress-bar {
    height: 100%;
    background-color: #007aff;
    width: 0;
  }
  
  h1{
    color: #007aff;
    
  }
  .container{
    position: fixed;
    margin-left: 38%;
  }